@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans-font {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
  } 
  /* shared style */
  .display-flex{
    display: flex;
  }
  .btn-orange{
    border: none;
    border-radius: 12px;
     
    background: rgb(255, 144, 14);
    color: rgb(255, 255, 255);
    padding: 10px;
    gap: 10px;
    width: 197px;
    height: 50px;
    font-size: 1.25rem;
    font-weight: 600;
  }
  .btn-black{
    border: none;
    border-radius: 12px;
     
    background: rgb(17, 17, 17);
    color: rgb(255, 255, 255);
    padding: 10px;
    gap: 10px;
    width: 197px;
    height: 50px;
    font-size: 1.25rem;
    font-weight: 600;
  }
  /* shared colour */
  .orange{
    color: rgb(254, 163, 1);
  }
  .skyblue{
    color: rgb(1, 172, 253);
  }
  .light-blue{
    color: rgb(5, 212, 223);
  }
  .purple{
    color: rgb(93, 88, 239);
  }
  /* navber styles */
  .navber{
    
    justify-content: space-around;
    align-items: center;

  }
  .nav-item{
      list-style:none ;
      margin-right: 32px;
  }
  .nav-link{
    text-decoration: none;
    font-weight: 500;
    font-size: 1.25rem;
  }
  .brand{
    color:rgb(17, 17, 17) ;
    font-size: 2rem;
    font-weight: 700;
  }
  .navber , .banner{
    max-width: 1440px;
    margin: 0 auto;
  }
  .banner{
   justify-content: center;
   align-items: center;
   gap: 50px;
   padding-left: 0px 141px;
  }
  .banner img{
    width: 100%;
  }
  .banner-title{
    font-size: 4.68rem;
    font-weight: 700;
  }
  .banner-description{
    font-size: 1.25rem;
    font-weight: 400;
  }
  main > section {
    margin-top: 60px;
  }
  /* curriculamn styles */
  .standard-curriculamn-title{
    text-align: center;
    margin-bottom: 80px;
    font-size: 2.9rem;
    font-weight: 700;
  }
  .standard-curriculamn-container{
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    
    
  }
  